*{
    margin: 0;
    padding: 0
}

.active{
  color: white
}

.size-wrapper{
  margin: 0;
  padding: 0;
}

h2,h3{
  font-size: 2.5em;
  line-height: 1.25em
}

p{
  font-size: 1.12em;
  line-height: 1.87em;
  text-align: justify;
}
/*Header*/
/*Navbar Top*/
.navbar-top-container{
  background-color: black;
}

/*.nav1bar{
  margin: 0;
  background: transparent;
  border-color: transparent;
}*/

.navbar-top-navlink-divider::before{
  content: "";
  position: absolute;
  top: 13px;
  left: 10px;
  background: #424242;
  width: 1px;
  height: 14px;
}

.navbar-top-navlink-divider::after{
  content: "";
  position: absolute;
  top: 13px;
  right: 10px;
  background: #424242;
  width: 1px;
  height: 14px;
}

.navbar-top-navlink i{
  font-size: 1.4em;
  margin: 0 8px 0 0;
}

.navbar-top-navlink{
  line-height: 40px;
  text-decoration: none;
  color: #b0b0b0;
  display: block;
  font-size: .8em;
}

.navbar-top-navlink:hover{
  text-decoration: none;
  color: #f5f5f5;
}

.navbar-top-cart-dropdown:hover{
  background: white;
  color: #ff6700;
}

.navbar-top-cart-dropdown:hover .navbar-top-cart-dropdown-menu{
  display: block;
  animation: cart-dropdown-menu-auto-height 1.5s ease;
}

.navbar-top-cart-dropdown-menu{
  color: #757575;
  height: 94px;
  margin: 0;
  border-color: transparent;
  line-height: 80px;
  min-width: 300px;
  text-align: center;
  border-radius: 0;
  transition: all 1s ease;
}

@keyframes cart-dropdown-menu-auto-height {
  from{
    height: 0;
  }
  to{
    height: 94px;
  }
}

/*Navbar Middle*/
.navbar-middle-logo-slide{
  cursor: pointer;
  margin: 0;
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url(http://i01.appmifile.com/webfile/globalimg/pandora/mihome.png) no-repeat -56px;
  transition: background-position 0.2s;
}

.navbar-middle-logo-slide:hover{
  background-position: 0;
}

.navbar-middle-container{
  background: transparent;
  border-color: transparent;
  margin: 12px 35px;
  z-index: 10;
}

.navbar-middle-navcontent>li>a{
  color: #616161;
  font-size: .9em;
  font-weight: bold;
  padding: 20px 0 20px 60px;
}

.navbar-middle-navcontent .navbar-middle-navlink:hover{
  cursor: default;
  color: orange;
}

.navbar-middle-product-exhibit{
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  border-top: 1px solid #dfdfdf;
  display: none;
  background: white;
  z-index: 10;
  position: absolute;
  top: 122px;
  left: 0;
  width: 100%;
  height: 242px;
}

/*.navbar-middle-navlink:hover,.navbar-middle-product-exhibit{
  animation: navbar-middle-product-exhibit-auto-height 1s ease;
}

@keyframes navbar-middle-product-exhibit-auto-height {
  from{
    height: 0;
  }
  to{
    height: 242px;
  }
}*/

.navbar-middle-product-exhibit a:hover,.navbar-middle-product-exhibit a{
  font-size: 1.3em;
  text-decoration: none;
  color: black
}

.navbar-middle-product-exhibit p{
  font-size: .9em;
  color: #ff6700;
  margin: 0;
  text-align: center;
}

.navbar-middle-product-exhibit img{
  display: block;
  margin: 0 auto;
}


/*Navbar Bottom*/
.navbar-bottom-container{
  background: #f5f5f5;
}

.navbar-bottom-nav-container{
  color: #333;
  margin: 5px 20px;
  background: transparent;
  border-color:transparent
}

.navbar-bottom-navlink{
  font-size: .9em;
}

.navbar-bottom-logo{
  margin: 0;
  font-size: 1.5em;
}

.navbar-bottom-navlink-btn-orange span{
  background: #ff6700;
  color: white;
  padding: 6px 12px
}


/*Header Bottom*/
.header-bottom-container{
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-intro-bg-3s.jpg?v=20170802) no-repeat 10% bottom;
  min-height: 900px
}

.header-bottom-content{
  text-align: center;
  margin: 190px auto 0;
  max-width: 410px;
}

.header-bottom-content h1{
  font-size: 4.2em
}

.header-bottom-content h1 span,.header-bottom-price-content h1{
  text-align: left;
  color: #e53935
}

.header-bottom-content h3,.header-bottom-price-content h1{
  font-size: 3.1em
}

.header-bottom-content p{
  text-align: center;
  font-size: 1.1em;
  line-height: 1.87em
}

.header-bottom-price-content h1 i{
  padding: 0 10px 0 0;
  font-size: .5em
}

.header-bottom-price-content p{
  text-align: justify;
  font-size: .9em
}

.divider{
  width: 1%;
  padding: 0;
  margin: 0;
  border-color: #cdcdcd;
  min-height: 130px;
}

/*Summary Section*/
.section-summary-container{
  position: relative;
  background: #fafafa
}

.section-summary-content{
  padding: 0 10px;
  margin: 200px auto 0;
  max-width: 392px;
  min-height: 480px;
}

.section-summary-features-animation{
  transition: all 1.5s;
}

.section-summary-features-batteryimg{
  display: block;
  width: 100px;
  height: 100px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat 0;
}

.section-summary-features-dual_simimg{
  display: block;
  width: 100px;
  height: 100px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat -100px;
}

.section-summary-features-snapdragonimg{
  display: block;
  width: 100px;
  height: 100px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat -200px;
}

.section-summary-features-pdafimg{
  display: block;
  width: 100px;
  height: 100px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat -300px;
}

.section-summary-features-displayimg{
  display: block;
  width: 100px;
  height: 100px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-icons.png?v=20170802) no-repeat -400px;
}

.section-summary-features-content h4,.section-summary-features-content p{
  text-align: center;
}
.section-summary-features-content p{
  font-size: .9em
}

.section-summary-features-content i{
  margin: 0 auto 20px;
}

.section-summary-animation-stage{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 1000px;
}

.section-summary-animation-stage ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-summary-animation-stage ul li{
  position: absolute;
  width: 66.35%;
  height: 92.40%;
  transition: all .3s;
}
.section-summary-mi5-white{
  top: -43%;
  left: 50%;
  margin: 0 0 0 -7%;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-summary-01.png?v=20170802) no-repeat center;
}

.section-summary-mi5-black{
  top: 60%;
  left: 50%;
  margin: 0 0 0 -96.5%;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-summary-02.png?v=20170802) no-repeat center;
}

.section-summary-mi5-brown{
  top: -30%;
  left: 50%;
  margin: 0 0 0 41.50%;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-summary-03.png?v=20170802) no-repeat center;
}

.section-summary-mi5-grey{
  top: 48%;
  left: 50%;
  margin: 0 0 0 -17%;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-summary-04-3s.png?v=20170802) no-repeat center;
}

/*Section 2*/
.sec2-bgimg{
  min-height: 1150px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-performance-mi3s.jpg?v=20170802) #fafafa no-repeat center bottom;
}

.sec2-content{
  padding: 0 10px;
  margin: 180px auto 50px;
  max-width: 800px;
  min-height: 245px;
}

.sec2-content h3,.sec2-content p{
  text-align: center;
}

/*Demo Section*/
.section-demo-content{
  padding: 170px 0 80px 0;
  background: black
}

.section-demo-content hr{
  margin: 40px auto 30px;
  width: 100px;
  border-color: rgba(255,255,255,0.3);
}

.section-demo-content h3{
  text-align: center;
  color: white
}

.section-demo-content a{
  display: block;
  text-align: center;
  font-size: 1.3em;
  text-decoration: none;
  color: #666
}

.section-demo-slider{
  padding: 0;
  position: relative;
  min-height: 180px;
  background: black;
  color: white
}

.section-demo-slides{
  display: none;
}

.section-demo-slides-content{
  padding: 0 10px;
  text-align: justify;
  max-width: 360px;
  margin: 170px auto 0;
}

.section-demo-slides-video{
  padding: 0;
  min-height: 180px;
  overflow: hidden;
}

.section-demo-slides-video video{
  margin: 0 0 0 -100px;
  width: 960px;
  height: auto;
}

.section-demo-slider-nav-prev,.section-demo-slider-nav-next{
  display: block;
  position: absolute;
  left: 0;
  top: 45%;
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  background: #202020;
}

.section-demo-slider-nav-prev:hover,.section-demo-slider-nav-next:hover{
  background: #333;
  color: white;
  text-decoration: none;
}

.section-demo-slider-nav-prev:focus,.section-demo-slider-nav-next:focus{
  color: white;
  text-decoration: none;
  background: #202020;
}

.section-demo-slider-nav-next{
  left: 95%;
}

.section-demo-navlink:focus{
  color: white;
}

.section-demo-navlink:nth-of-type(2)::before,.section-demo-navlink:nth-of-type(2)::after{
  content: '';
  position: absolute;
  cursor: pointer;
  display: block;
  width: 5px;
  height: 5px;
  background: white;
}

.section-demo-slides-animation{
  transform-origin: 0 0;
  transition: all 1.5s ease;
}


/*Battery Section*/
.section-battery-container{
  color: white;
  min-height: 1035px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-battery-3s.jpg?v=20170728) no-repeat black 8% bottom;
  transition: all 1.5s;
}

.section-battery-graph{
  margin: 70px 0 0;
  max-width: 470px;
  height: 246px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-battery-chart.png?v=20170802) no-repeat;
  transition: all 1.5s;
}

.section-battery-chart{
  max-width: 527px;
  height: 246px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-battery-text-3s.png?v=20170802) no-repeat;
  transition: all 1.5s;
}

.section-battery-content{
  padding: 0 10px;
  margin: 220px auto 0;
  max-width: 496px;
  min-height: 335px;
}

.section-battery-graph-redmi2-data::before{
  content: "";
  position: absolute;
  top: 25%;
  left: -5%;
  display: block;
  width: 10px;
  height: 10px;
  background: #9b6133;
}

.section-battery-graph-redmi3s-data::before{
  position: absolute;
  content: "";
  top: 25%;
  left: -5%;
  display: block;
  width: 10px;
  height: 10px;
  background: #403f85;
}

/*Section 5*/
.sec5-bgimg{
  min-height: 1039px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-finger-bg.jpg?v=20170802) no-repeat 125% bottom;
}

.sec5-content{
  padding: 0 10px;
  margin: 290px 0 0;
  max-width: 425px;
}

/*Camera Section*/
.section-camera-container{
  position: relative;
  min-height: 1055px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-camera-blur-bg.jpg?v=20170802) no-repeat center;
  transition: all 1.5s;
}

.section-camera-is-flash{
  position: absolute;
  top: 33.6%;
  left: 25.9%;
  z-index: 5;
  width: 47.5%;
  height: 34%;
  background: rgba(255,255,255,.8);
  transition: all 1.5s;
}

.section-camera-content{
  padding: 0 10px;
  margin: 180px auto 0;
  color: white;
  max-width: 792px;
  min-height: 245px;
  transition: opacity 1.5s;
}

.section-camera-content p,.section-camera-content h3{
  text-align: center;
}

.section-camera-productimg{
  display: block;
  margin: 0 auto;
  height: 396px;
  transition: all 1.5s;
}

/*Section 7*/
.sec7-bgimg{
  min-height: 840px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-4g-3s.jpg?v=20170802) no-repeat 50% bottom
}

.sec7-content{
  padding: 0 10px;
  max-width: 372px;
  min-height: 265px;
  margin: 280px 0 0;
}

.sec7-content h3{
  text-align: center;
}

.sec7-content hr{
  margin: 40px auto 20px;
  width: 100px;
  border-color: rgba(0,0,0,0.3);
}

/*Screen Section*/
.section-screen-container{
  color: white;
  min-height: 1100px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-screen-dark-bg.jpg?v=20170802) no-repeat center #1e1f40;
  transition: all 1s;
}

.section-screen-content{
  margin: 160px auto 0;
  padding: 0 10px;
  max-width: 744px;
  min-height: 165px;
  transition: all 1s;
}

.section-screen-content h3,.section-screen-content p{
  text-align: center;
}

.section-screen-displayimg{
  margin: 124px auto 0;
  max-width: 450px;
  min-height: 642px;
  transition: all 0.9s;
}

/*miui Section*/
.section-miui-container{
  position: relative;
}

.section-miui-content{
  padding: 0 10px;
  margin: 100px auto 50px;
  max-width: 764px;
  min-height: 195px;
  transition: all 1s;
}

.section-miui-content h3,.section-miui-content p{
  text-align: center;
}

.section-miui-animated-productimg{
  position: absolute;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-miui-product.jpg?v=20170802) no-repeat;
  width: 450px;
  height: 900px;
  z-index: -1;
  top: -641px;
  left: 50%;
  margin: 0 0 0 -226px;
  transition: all 1s;
}

.section-miui-productimg{
  max-width: 362px;
  min-height: 692px;
  transition: all 1s;
}


/*Section 10*/
.sec10-content{
  padding: 130px 0 0;
  min-height: 741px;
  background: #fafafa
}

.sec10-content i{
  margin: 0 auto;
  display: block;
  max-width: 340px;
  min-height: 310px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-verson-01.jpg?v=20170802) no-repeat;
}

.sec10-content h3{
  font-size: 160%;
  text-align: center;
}

.sec10-content p{
  font-size: 110%;
  text-align: center;
}

/*Section 11*/
.sec11-bgimg{
  min-height: 360px;
  background: url(http://i01.appmifile.com/webfile/globalimg/en/goods/hongmi3s/overall-next-bg.jpg?v=20170802) no-repeat 25% bottom #f5f5f5;
}

.sec11-content h3{
  margin: 0 0 20px;
}

.sec11-content p{
  font-size: 110%;
  color: #757575
}

.sec11-content{
  padding: 10px;
  margin-top: 100px;
  max-width: 380px;
  min-height: 212px;
}

.sec11-pg p{
  text-align: justify;
  padding: 0 10px;
  margin: 50px auto;
  color: #757575;
  max-width: 1226px;
  min-height: 72px;
  font-size: 83%;
}

/*Section 12*/
.sec12{
  background: #f5f5f5;
  min-height: 305px;
  padding: 0;
}

.sec12-content1{
  margin: 100px 0 0 ;
  padding: 20px 0;
  background: white;
}

/*.sec12-content1 ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.sec12-content1 ul li:nth-of-type(2){
  margin: 0 40px;
}*/

.txt-sm{
  padding: 5px 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 95%;
  color: #b0b0b0
}

.txt-sm:hover{
  color: #424242
}

.sec12-content1 strong{
  display: block;
  color: #424242
}


.sec12-content2{
  padding: 40px 0;
}

/*.sec12-content2,.sec12-content2 span{
  display: flex;
  flex-direction: row;
}
*/
.sec12-content2 h3{
  margin: 0;
  font-weight: bold;
  font-size: 120%
}

.sec12-content2 p{
  font-size: 85%
}

.sec12-content2 input{
  padding: 0 0 0 20px;
  width: 260px;
  height: 40px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-right: none
}

.submit-email{
  cursor: pointer;
  position: relative;
  left: -4px;
  background: white;
  padding: 12px 4px 12px 0;
  border: 1px solid #e0e0e0;
  border-left: none
}

.social-media{
  cursor: pointer;
  margin: 0 20px;
  color: #b0b0b0;
  font-size: 130%
}

/*.sec12-content2 span div{
  margin: 0 30px
}

.sec12-content2 span{
  margin: 0 30px;
}
*/
.social-media{
  padding: 20px 0 0
}

.social-media:hover{
  color: #757575
}

/*Footer*/
footer{
  padding: 50px 50px 0;
  background: black
}

footer ul{
  list-style-type: none;
  color: #757575
}

footer ul li{
  padding: 5px 0
}

footer a{
  font-size: 95%;
  text-decoration: none;
  color: #757575
}

footer a:hover{
  text-decoration: none;
  color: #f5f5f5
}

footer p{
  color: #b0b0b0;
  font-size: 85%;
}
footer h3{
  margin-bottom: 0;
  color: #b0b0b0;
  font-size: 170%;
  font-weight: bold;
}

.btn-chat{
  display: inline-block;
  color: #f5f5f5;
  width: 158px;
  height: 38px;
  text-align: center;
  border: 1px solid #f5f5f5;
  margin: 5px 0 0;
  padding: 10px 0;
  font-size: 95%;
}

.btn-chat:hover{
  background: #f5f5f5;
  color: black;
}

.footer-nav-top{
  padding: 0 0 50px;
  border-bottom: 1px solid #b0b0b0;
}

.footer-nav-bottom{
  color: #b0b0b0;
  padding: 20px 0;
}

.footer-size-adjust{
  padding: 0;
}

.footer-nav-bottom a i{
  font-size: 105%;
  padding: 0 0 0 4px;
}
.footer-nav-bottom a{
  font-size: 100%;
}


/*Media Queries*/
@media screen and (max-width: 362px) {
  .section-camera-content{
    opacity: 1;
  }

  .section-camera-productimg{
    opacity: 1;
    height: 340px;
  }

  .section-miui-productimg{
    max-width: 300px;
  }
}

@media screen and (max-width: 425px) {

  .txt-sm{
    width: 320px;
    margin: 0 auto;
    font-size: 85%;
  }

  .sec12-content2{
    text-align: center;
  }
  .sec12-content2 p{
    text-align: center;
  }

  .sec12-content2 input{
    width: 185px;
  }
}

@media screen and (max-width: 462px) {
  .section-screen-displayimg{
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .sec2-bgimg{
    background-size: 75%;
  }

  .sec2-content p{
    text-align: justify;
  }

  .section-battery-content{
    margin: 0;
  }

  .section-battery-container{
    background-size: 20%;
    background-position: center bottom;
  }

  .section-battery-graph{
    min-height: 150px;
    margin: 0;
    background-size: 105%;
    background-position: 0 80%;
  }

  .section-battery-chart{
    min-height: 150px;
    background-size: 105%;
    background-position: 0 80%;
  }

  .sec7-bgimg{
    background-size: 400%;
    background-position: 60% bottom;
  }

  .sec7-content{
    margin: 50px 0 0;
  }

  .is-margin{
    margin: 0 0 20px;
  }

  footer{
    padding: 50px 10px 0;
  }
}

@media screen and (min-width: 769px) {
  .txt-sm{
    font-size: 120%;
  }
  .sec12-content2 h3{
    font-size: 140%;
  }

  .sec12-content2 p{
    font-size: 110%;
  }
}

@media screen and (max-width: 820px) {
  .section-camera-productimg{
    padding: 50px 0 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .section-battery-container{
    background-position: 0 bottom;
  }
}

@media screen and (max-width: 991px){
  #navbar-bottom-nav-stage>ul>li>a{
    padding: 10px 10px;
  }

  .header-bottom-container{
    background-size: 50%;
    background-position: 5% bottom;
  }

  .section-demo-content{
    padding: 60px 0 ;
  }

  .section-demo-slides-content{
    margin: 80px auto;
  }

  .section-demo-slides-video video{
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .sec7-bgimg{
    background-position: 58% bottom;
  }

}

@media screen and (min-width: 768px) and (max-width: 1265px) {
  .navbar-middle-navcontent{
    margin: 12px 0;
  }

  .navbar-middle-container{
    /*margin: 0;*/
  }

  .navbar-middle-navcontent>li>a{
    font-size: .7em;
    padding: 10px 12px;
  }
}

@media screen and (max-width: 1200px) {
  .sec5-bgimg{
    background-size: 90%;
    background-position: 190% bottom
  }

  .sec11-bgimg{
    background-position: 5% bottom;
  }

  .sec11-content,.sec11-content p{
    color: #e53935;
  }
}
